---
import Counter from './counter.vue'
let count = 0;
---

<div>
  <p>
    Here are some contents you can see from this website.
  </p>
  <ul class="mt-5">
    <li>
      <strong>Sharing tech pitfalls.</strong>
      For example, issues encountered in model training fine-tuning and website construction, especially with serverless.
    </li>
    <li>
      <strong>Startup story.</strong>
      Yes, I'm currently starting a business, and the temporary goal is to allow everyone to easily use AI to craft their stories. Just a few selections are needed.
    </li>
    <li>
      <strong>Study notes.</strong> Besides sharing technical pitfalls, I'll also share knowledge-intensive content, such as how to quickly fine-tune a large language model in the transformer era, or how to use web scraping to obtain the data you want.
    </li>
    <li>
      <strong>Personal gripes.</strong> I might also share some issues I've encountered while programming and vent about aspects I find unreasonable. For instance, why does front-end technology update so quickly, yet there aren't any substantial changes at its core?
    </li>
  </ul>
  <Counter client:load />
</div>